# Imports

In [1]:
import pandas as pd
import re
from io import StringIO

# Data Exploration

In [2]:
#stringified data 
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'
print(data)

Airline Code;DelayTimes;FlightCodes;To_From
Air Canada (!);[21, 40];20015.0;WAterLoo_NEWYork
<Air France> (12);[];;Montreal_TORONTO
(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa
12. Air France;[78, 66];;Ottawa_VANcouvER
""".\.Lufthansa.\.""";[12, 33];20055.0;london_MONTreal

In [3]:
string_data = StringIO(data)
df = pd.read_csv(string_data, sep ="[;|_|]", engine = 'python')
df

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada (!)      [21, 40]      20015.0  WAterLoo    NEWYork
1      <Air France> (12)            []          NaN  Montreal    TORONTO
2     (Porter Airways. )  [60, 22, 87]      20035.0   CALgary     Ottawa
3         12. Air France      [78, 66]          NaN    Ottawa  VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]      20055.0    london   MONTreal

# Step 1

In [4]:
df = df.interpolate() #fills missing values

In [5]:
df["FlightCodes"] = df["FlightCodes"].astype(int)
df

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada (!)      [21, 40]        20015  WAterLoo    NEWYork
1      <Air France> (12)            []        20025  Montreal    TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035   CALgary     Ottawa
3         12. Air France      [78, 66]        20045    Ottawa  VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]        20055    london   MONTreal

# Step 2

In [6]:
df[['To', 'From']] = df[['To', 'From']].applymap(lambda s:s.upper()) #makes the values in the columns uppercase
df

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada (!)      [21, 40]        20015  WATERLOO    NEWYORK
1      <Air France> (12)            []        20025  MONTREAL    TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035   CALGARY     OTTAWA
3         12. Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4  """.\.Lufthansa.\."""      [12, 33]        20055    LONDON   MONTREAL

# Step 3

In [7]:
df['Airline Code'] = df['Airline Code'].str.replace(r'\W', " ")
df

C:\Users\Yash\AppData\Local\Temp\ipykernel_19908\1405705190.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Airline Code'] = df['Airline Code'].str.replace(r'\W', " ")

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada          [21, 40]        20015  WATERLOO    NEWYORK
1       Air France   12             []        20025  MONTREAL    TORONTO
2      Porter Airways     [60, 22, 87]        20035   CALGARY     OTTAWA
3         12  Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4        Lufthansa            [12, 33]        20055    LONDON   MONTREAL